@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f2170;
  --backgroundSd: #272987;
  --foreground: #171717;
  --text: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
